.inline-block {
    display: inline-block;
    vertical-align: top;

}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;   
}

.content {
    width: 500px;
    margin: 0 auto;
}

.flex-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: left;
    margin: 0;
    padding: 0;
    background-color: rgb(#9E643C);
    background-color: #FFF;
    border: 1px solid rgb(#EEE8AA)

}
  
footer {
    background-color: #373738;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}
